In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("lzc_dataset_0.csv")
df.head()

,text,label,prompt_name,type
0,Luke the Seagoing Cowboy: An Adventure Worth E...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
1,Luke the Seagoing Cowboy: An Adventure Worth T...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
2,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
3,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
4,Title: The Seagoing Cowboys: An Adventure of a...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source

In [3]:
df = pd.DataFrame(
    columns=["text", "label", "prompt_name", "type"]
)

for i in range(4):
    tmp_df = pd.read_csv(f"lzc_dataset_{i}.csv")
    df = pd.concat([df, tmp_df], ignore_index=True)

df.reset_index(drop=True, inplace=True)
df.shape

(8000, 4)

In [4]:
df.drop_duplicates(subset=["text"], inplace=True)
df.shape

(7982, 4)

In [5]:
df.head()

,text,label,prompt_name,type
0,Luke the Seagoing Cowboy: An Adventure Worth E...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
1,Luke the Seagoing Cowboy: An Adventure Worth T...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
2,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
3,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
4,Title: The Seagoing Cowboys: An Adventure of a...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source

In [6]:
df.to_csv("lzc_dataset_all.csv", index=False)

In [19]:
self_generated_all = pd.read_csv("lzc_dataset_all.csv")
self_generated_all.head()

,text,label,prompt_name,type
0,Luke the Seagoing Cowboy: An Adventure Worth E...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
1,Luke the Seagoing Cowboy: An Adventure Worth T...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
2,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
3,People should join the Seagoing Cowboys progra...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source
4,Title: The Seagoing Cowboys: An Adventure of a...,1,"""A Cowboy Who Rode the Waves""",based_on_human_text_no_source

In [20]:
kaggle_dataset = pd.read_csv("../combined_dataset_v3_gemini.csv")
kaggle_dataset.head()

,text,label,prompt_name,source
0,Phones\n\nModern humans today are always on th...,0,Phones and driving,persuade_corpus
1,This essay will explain if drivers should or s...,0,Phones and driving,persuade_corpus
2,Driving while the use of cellular devices\n\nT...,0,Phones and driving,persuade_corpus
3,Phones & Driving\n\nDrivers should not be able...,0,Phones and driving,persuade_corpus
4,Cell Phone Operation While Driving\n\nThe abil...,0,Phones and driving,persuade_corpus

In [21]:
self_generated_all = self_generated_all[["text", "label", "prompt_name"]]
kaggle_dataset = kaggle_dataset[["text", "label", "prompt_name"]]
all_dataset = pd.concat([self_generated_all, kaggle_dataset], ignore_index=True)
all_dataset.shape

(76980, 3)

In [22]:
all_dataset.drop_duplicates(subset=["text"], inplace=True)
all_dataset.shape

(76980, 3)

In [23]:
all_dataset.to_csv("../v3_gemini_self.csv", index=False)